{% extends 'home/layout.html' %}

{% block title%}
Home
{% endblock %}

{% block heading%}
Conversion and Formulas
{% endblock %}
{% block body %}
<section>
    <h2>FEATURES:</h2>
    <ul>
      <li>Conversion between different unit of measurement</li>
      <li>Calculations to find variables in mathematics and physics</li>
      <li>Super awesome design that's captivating to the user</li>
      <li>VERY interactive user interface</li>
      <li>Responsive web design</li>
      <li>Super clean and bug-free code</li>
      <li>Uses the principle of DRY (Don't Repeat Yourself)</li>
    </ul>
  </p>
</section>
{% endblock %}