{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}"
  </head>
  <body>
    <div class="side-bar">
      <label class="logo">
        Unit converter and Formulas
      </label>
      <nav>
        <ul class="generic-nav">
          <li>
            <a href="{% url "home:nav" %}">
                Home 🏠
            </a>
          </li>
          <li>
            <a href="{% url "conversion:nav" %}">
                Unit Converter
            </a>
          </li>
          <li>
            <a href="{% url "formulas:nav" %}">
                Formulas
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="main-content">
      <h1>{% block heading %}{% endblock %}</h1>
      {% block body%}
      {% endblock %}
    </div>
  </body>
</html>