:root {
  --sidebar-width: 225px;
  --list-font-size: 2rem;
}


html {
  font-family: sans-serif;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
}

body {
  text-align: left;
}

.side-bar {
  position: fixed;
  vertical-align: top;
  width: var(--sidebar-width);
}

.main-content {
  margin-left: var(--sidebar-width);
}


.generic-nav li{
  margin: 0;
  border: 1px solid black;

  list-style-type: none;
  text-decoration: none;
  text-align: center;
}

.generic-nav {
  padding: 0;
  margin: 0;
}

.logo {
  display: block;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 0.25em 0.5em 0.25em 0.5em;
  /* background: linear-gradient(black, white) */
  text-align: center;
}

.side-bar > nav > ul > li > a{
  text-decoration: none;
  color: blue;
}

.main-content > h1 {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: orange;
  background-color: blue;
  padding: 0.5em 0 0.5em 0;
}

section {
  margin-left: 1rem;
}

/* section > ul > li {
  font-size: var(--list-font-size)
} */

section > ul {
  font-size: var(--list-font-size);
  line-height: calc(1.5em);
}


h2 {
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
}

.side-bar > nav > ul > li > a > div {
  background-color: grey;
  padding: 0.25em 0 0.25em 0;
}

.side-bar > nav > ul > li > a > div:hover {
  opacity: 0.8;
}

.side-bar > nav > ul > li > a > div:active {
  color: grey;
  background-color: blue;
}

.side-bar > nav{
  font-size: 1.5rem;
}

.result-box {
  box-shadow: 0 0 5px 1;
}

input[type="submit"]{
  background-color: blue;
  color: white;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 0.2em;
  margin: 0;
  width: 100%;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

input[type="submit"]:active {
  opacity: 0.5;
}

.google-search input[type="submit"]{
  background-color: red;
}

.result-box label {
  font-size: 2rem;

}
